body {
  background: whitesmoke;
  color: black;
  font-family: Arial;
  padding: 20px;
}

#all_at_once {
  width: 100%;
  height: auto;
  background: lightgrey;
  display: grid;
  grid-template-columns: 1.5fr 0.6fr 0.4fr; 
  gap: 75px;
}

.keyboard {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(14, 60px);
  grid-auto-rows: 60px; 
  justify-content: start; 
}

.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 6px;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 6px;
}

.key {
  display: grid;
  place-items: center;
  background: white;
  color: black;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  user-select: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.12);
}
.key:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.12);
}
.key:active {
  background: black;
  color: white;
}

.key.wide   { grid-column: span 2; }  
.key.wider  { grid-column: span 2; }   
.key.shift  { grid-column: span 3; }   
.key.space  { grid-column: span 7; } 

.key .small {
  color: grey;
  font-size: 12px;
}
.key_{
  color: transparent;
  background: transparent;
}