@import 'vary';

.card {
  background: $secondary-color;
  border: 3px solid $accent-color;
  border-radius: 12px;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  font-family: $font-family;

  &__header {
    margin-bottom: 15px;
  }

  &__title {
    color: $primary-color;
    font-size: 2rem;
  }

  &__body {
    margin-bottom: 20px;
  }

  &__text {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  &__button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;

    &--primary {
      background: $primary-color;
      color: white;

      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
  

  &__footer {
    font-size: 0.9rem;
    color: $accent-color;
  }
}
.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  &__content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
  }

  &__image {
    max-width: 100%;
    border-radius: 8px;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #e63946;

    &:hover {
      color: darken(#e63946, 10%);
    }
  }
}

